* {
    box-sizing: border-box;
}

::selection{
    color: #fff;
    background: #007bff;
  }

body {
    font-family: 'Poppins', sans-serif;
    color: #3A3A3A;
}

header {
    background-image: url("../images/bg-header.jpg");
    background-size: cover;
    // max-height: 550px;

    .header-quote {
        p {
            color: #fff !important;
            padding-top: 110px;
            line-height: 130%;
            font-size: 55px;
        }
        .btn-get-started {
            background-color: #BE2623;
            color: #fff !important;
            padding-top: 10px;
            padding-bottom: 10px;
            margin-top: 30px;
            margin-bottom: 110px;
            font-size: 14px;

            &:hover {
                background-color: #E12724;
            }
        }
    }
}

.bg-light {
    background-color: #fff !important;
    height: 72px;
    
}

.nav-item {
    .nav-link {
        margin-right: 25px;;
    }

    .active {
        font-weight: 500;
    }
}

.btn-login {
    color: #fff !important;
    background-color: #BE2623;
    border-radius: 0;
    max-height: 72px;
    margin-right: -25px;
    padding-left: 35px;
    padding-right: 35px;

    &:hover {
        background-color: #E12724;
    }
}

.services {
    margin-top: 50px;
    margin-bottom: 50px;

    p {
        font-size: 24pt;
        font-weight: 500;
    }

    .card {
        max-width: 370px;
        background-color: #0E3746;
        background-size: cover;
        border-radius: 0;
        margin-top: 20px;

        p {
            font-size: 16pt !important;
            font-weight: 500;
            color: #fff !important;
            margin-top: 25px;
            margin-left: 15px;
        }

        .ic-services {
            img {
                max-width: 55px;
                margin-left: 25px;
                float: left;
                padding-top: 20px;
                padding-bottom: 20px;
                margin-right: 20px;
            }

            p {
                font-weight: normal;
                font-size: 12pt !important;
                margin-top: 0;
                margin-bottom: 30px;
                margin-right: 15px;
            }
        }

    }
}

.bg-profile-photographer {
    background-color: #BEBEBE;
    background-size: cover;
    
    p {
        font-size: 24pt;
        font-weight: 500;
        padding-top: 35px;
    }

    .card {
        max-width: 320px;
        background-color: #fff;
        background-size: cover;
        border-radius: 0;
        margin-top: 20px;
        margin-bottom: 55px;
        box-shadow:0px 0px 10px #3A3A3A;

        img {
            max-width: 150px;
            margin-top: 45px;
        }

        h5 {
            font-size: 16pt !important;
            font-weight: 500;
            margin-top: 30px;
            margin-bottom: 10px;
        }

        p {
            font-weight: normal;
            font-size: 12pt !important;
            padding-top: 0px;
            margin-bottom: 45px;
            padding-left: 15px;
            padding-right: 15px;
        }
    }
}

.bg-header-silver {
    background-color: #BEBEBE;
    background-size: cover;
    height: 550px;

    h3 {
        margin-top: 80px;
    }

    p {
        padding-bottom: 20px;
    }

}

.bg-header-blue {
    background-color: #0E3746;
    background-size: cover;
    height: 550px;
    color: #fff !important;

    h3 {
        margin-top: 80px;
        font-size: 24pt;
        margin-bottom: 15px;
    }

    p {
        font-weight: 400;
        font-size: 16pt;
    }

}

.location-card {
    margin-top: -250px;

    .card {
        background-color: #fff !important;
        background-size: cover;
        border-radius: 0;
        // height: 420px;
        padding-top: 0;
        padding-left: 0;
        padding-right: 0;
        box-shadow:0px 0px 10px #3A3A3A;
        margin-bottom: 20px;

        h3 {
            margin-top: 20px;
            font-size: 16pt;
            padding-left: 15px;
            padding-right: 15px;
        }

        p {
            font-weight: 400;
            padding-left: 15px;
            padding-right: 15px;
            
        }

        .star {
            display: flex;
            padding-left: 15px;
            margin-bottom: 10px;
            img {
                margin-right: 3px;
                float: left;
            }
        }

        .btn-details {
            color: #fff !important;
            background-color: #BE2623;
            max-width: 150px;
            margin-right: 15px;
            margin-bottom: 20px;
            padding: 10px;
            
            &:hover {
                background-color: #E12724;
            }
        }
    }

    .page {
        margin-top: 25px;

        a {
            text-decoration: none;
            color: #0E3746;
            font-size: 16pt;
            padding-left: 5px;
            padding-right: 5px;
        }

        .active {
            color: #BE2623;
            font-size: 18pt;
        }
    }
}

.main-detail {
    margin-top: -220px;

    .card {
        background-color: #fff;
        padding-left: 50px;
        padding-right: 50px;

        .image {
            margin-top: 50px;
        }

        h3 {
            color: #0E3746;
        }

        p {
            margin-top: 25px;
        }

        .btn-join {
            max-width: 140px;
            padding-top: 10px;
            padding-bottom: 10px;
            margin-top: 15px;
            margin-bottom: 50px;
        }
    }
    
    .visi {
        background-color: #0E3746;
        color: #fff;
        text-align: center;
        width: 470px;
        margin: 7px;

        h3 {
            margin-top: 35px;
            margin-bottom: 45px;
            color: #fff;
        }

        p {
            margin-bottom: 35px;
            padding-left: 35px;
            padding-right: 35px;
        }
    }

    .misi {
        background-color: #0E3746;
        color: #fff;
        text-align: center;
        width: 470px;
        margin: 7px;

        h3 {
            margin-top: 35px;
            margin-bottom: 45px;
            color: #fff;
        }

        p {
            margin-bottom: 35px;
            padding-left: 35px;
            padding-right: 35px;
        }

        .a {
            text-align: left;
            margin-bottom: 20px;
        }
    }

    .maps {
        margin-top: 40px;
        margin-bottom: 50px;
    }
}

.space {
    margin-top: 50px;
}

.sponsor {
    p {
        font-size: 24pt;
        font-weight: 500;
        padding-top: 35px;
        margin-bottom: 25px;
    }

}

.mini-gallery {
    p {
        font-size: 24pt;
        font-weight: 500;
        padding-top: 20px;
        margin-bottom: 20px;
    }
    
}

.btn-join {
    background-color: #BE2623;
    color: #fff !important;
    padding-top: 8px;
    padding-bottom: 8px;

    &:hover {
        background-color: #E12724;
    }
}

.btn-help {
    background-color: #BEBEBE;
    color: #0E3746 !important;
    padding-top: 8px;
    padding-bottom: 8px;

    &:hover {
        background-color: #9D9C9C;
    }
}

.button-center {
    margin-top: 50px;
    text-align: center;
}

.image-gallery {
    margin-top: -330px;
}

.wrapper{
    margin: 100px auto;
    max-width: 1100px;
}
.wrapper nav{
    display: flex;
    justify-content: center;
}
.wrapper .items{
    display: flex;
    // max-width: 720px;
    width: 100%;
    justify-content: space-between;
}
.items span{
    // padding: 7px 25px;
    // font-size: 18px;
    // font-weight: 500;
    // cursor: pointer;
    // color: #007bff;
    // border-radius: 50px;
    // border: 2px solid #007bff;
    // transition: all 0.3s ease;
    display: flex;
    flex-wrap: wrap;
    // margin-top: 30px;
}
.items span.active,
.items span:hover{
    color: #fff;
    background: #007bff;
}

.gallery{
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}
.gallery .image{
    width: calc(100% / 3);
    padding: 7px;
}
.gallery .image span{
    display: flex;
    width: 100%;
    overflow: hidden;
}
.gallery .image img{
    width: 100%;
    vertical-align: middle;
    transition: all 0.3s ease;
}
.gallery .image:hover img{
    transform: scale(1.1);
}
.gallery .image.hide{
    display: none;
}
.gallery .image.show{
    animation: animate 0.4s ease;
}
@keyframes animate {
    0%{
        transform: scale(0.5);
    }
    100%{
        transform: scale(1);
    }
}

.preview-box{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.9);
    background: #fff;
    max-width: 700px;
    width: 100%;
    z-index: 5;
    opacity: 0;
    pointer-events: none;
    border-radius: 3px;
    padding: 0 5px 5px 5px;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.2);
}
.preview-box.show{
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
    transition: all 0.3s ease;
}
.preview-box .details{
    padding: 13px 15px 13px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.details .title{
    display: flex;
    font-size: 18px;
    font-weight: 400;
}
.details .title p{
    font-weight: 500;
    margin-left: 5px;
}
.details .icon{
    color: #007bff;
    font-style: 22px;
    cursor: pointer;
}
.preview-box .image-box{
    width: 100%;
    display: flex;
}
.image-box img{
    width: 100%;
    border-radius: 0 0 3px 3px;
}
.shadow{
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
    display: none;
    background: rgba(0,0,0,0.4);
}
.shadow.show{
    display: block;
}

@media (max-width: 1000px) {
    .gallery .image{
        width: calc(100% / 3);
    }
}
@media (max-width: 800px) {
    .gallery .image{
        width: calc(100% / 2);
    }
}
@media (max-width: 700px) {
    .wrapper nav .items{
        max-width: 600px;
    }
    nav .items span{
        padding: 7px 15px;
    }
}
@media (max-width: 600px) {
    .wrapper{
        margin: 30px auto;
    }
    .wrapper nav .items{
        flex-wrap: wrap;
        justify-content: center;
    }
    nav .items span{
        margin: 5px;
    }
    .gallery .image{
        width: 100%;
    }
}

footer {
    background-color: #0E3746;
    background-size: cover;
    margin-top: 50px;

    .footer-text {
        margin-bottom: 40px;

        h3 {
            color: #fff !important;
            font-size: 14pt;
            text-transform: uppercase;
            padding-bottom: 20px;
            margin-top: 40px;
        }

        .nav-link {
            color: #fff !important;
        }

        p {
            color: #fff !important;
        }
    }
}

.end-footer {
    max-height: 50px;
    p {
        padding-top: 8px;
        padding-bottom: 5px;
    }
}